*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to top, #000000, #610000);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.barra_de_navegacao{
    position: flex;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: #000000;
}

.barra_de_navegacao ul{
    display: flex;
    list-style: none;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding-right: 500px;

}

.barra_de_navegacao ul li{
    padding: 60px;
}

.barra_de_navegacao ul li a{
    text-decoration: none;
    color: white;
    font-family: bold;
    font-family: "Open Sans", sans-serif;
}

.logo img{
    width: 200px;
    height: 100px;
}

.page{
    display: flex;
    flex-direction: column;
}

.home_init{
    width: 100%;
    align-items: center;
}

.home_init img{
    width: 100%;
    height: auto;
    display: block;
}

.carlist_init h1{
    color: white;
    text-align: center;
    padding: 50px 50px 0px 50px;
}

.nissan_box{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px;
    flex-direction: column;
}

.nissan_logo_line{
    display: flex;
    align-items: center;
    width: 100%;
}

.nissan_logo_line img{
    width: 100px;
}

.nissan_logo_line h2{
    color: white;
    font-weight: 500;
    padding: 20px;
}

.nissan_logo_line hr{
    flex: 1;
    height: 1px;
    background: #ccc;
}

.nissan_cars{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    color: white;
    text-align: center;
}

.nissan_cars img{
    width:100%;
    max-width:200px;
    transition:.3s;
}



.toyota_box{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px;
    flex-direction: column;
}

.toyota_logo_line{
    display: flex;
    align-items: center;
    width: 100%;
}

.toyota_logo_line img{
    width: 100px;
}

.toyota_logo_line h2{
    color: white;
    font-weight: 500;
    padding: 20px;
}

.toyota_logo_line hr{
    flex: 1;
    height: 1px;
    background: #ccc;
}

.toyota_cars{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    color: white;
    text-align: center;
}

.toyota_cars img{
    width:100%;
    max-width:200px;
    transition:.3s;
}



.mazda_box{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px;
    flex-direction: column;
}

.mazda_logo_line{
    display: flex;
    align-items: center;
    width: 100%;
}

.mazda_logo_line img{
    width: 100px;
}

.mazda_logo_line h2{
    color: white;
    font-weight: 500;
    padding: 20px;
}

.mazda_logo_line hr{
    flex: 1;
    height: 1px;
    background: #ccc;
}

.mazda_cars{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    color: white;
    text-align: center;
}

.mazda_cars img{
    width:100%;
    max-width:200px;
    transition:.3s;
}